<!-- Navbar Bootstrap as a header -->
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container d-flex justify-content-start align-items-center">
    <img src="/Pictures/refribebe.jpg" alt="Refri" class="ms-2" style="height: 100px;">
    <span class="navbar-brand mb-0 h1 fs-2 ms-3">Expired Food</span>
  </div>
</nav>
